.fighter-preview___root {
  display: flex;
  flex-direction: column;
  /* flex-basis: 250px; */
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
  max-height: 500px;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img {
  max-height: 500px;
}

.fighter-preview___name {
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___health {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: 'Arial Black';
  font-weight: 200;
}

.fighter-preview___attack {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: 'Arial Black';
  font-weight: 200;
}

.fighter-preview___defense {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: 'Arial Black';
  font-weight: 200;
}
